<html >

<head >


</head >
body {
    .border-bottom

{
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgb(89 103 117) !important;
}

.bg-white {
    background-color: rgb(0 123 255 / 50%) !important;
}
}
</html>